<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Common -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Site specific -->
    <title>Metalsmith Blog Bootstrap</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/overrides.css">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-md-12">
                
                    <div class="page-header text-center">
                        <h1>Metalsmith Blog Bootstrap</h1>
                    </div>

                </div>
            </div>