{{> header}}

<!--<a href="/blog?from=back_from_post_top">&larr; back to Index</a>-->

<h2>{{title}}</h2>

{{{contents}}}

<a href="/blog?from=back_from_post_bottom">&larr; back to Index</a>

{{> footer}}